* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.parent {
  background-color: rgba(0, 106, 255, 0.779);
  padding: 50px;
  /* width: 690px; */
  margin: 0 auto;
  width: 80%;
}

.child {
  background-color: blue;
  width: 70%;
  height: 250px;
}