@import url('https://fonts.googleapis.com/css?family=Oswald:300,700');

html {
  font-size: 16px;
}

@media (min-width: ) {
  html {
    font-size: 25px;
  }
}

body {
  color: #34517f;
  margin: 3em auto;
  text-align: center;
  background: linear-gradient(to left, #c2e59c, #64b3f4);
  font-family: 'Oswald', san-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
}

subhead {
  font-size: rem;
  margin: .5em 0;
}